<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Chef à domicile{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% block css %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('home') }}">CADO</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav me-2">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Menus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cuisiniers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Réalisations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Réservation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">À propos</a>
                            </li>
                            <li class="nav-item">
                                {% if app.user %}<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>{% else %}<a class="nav-link" href="{{ path('app_login') }}">S'identifier</a>{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <ul class="container list-group list-group-horizontal mr-auto">
    
                {# <li class="list-group-item">{% if app.user %}<a href="{{ path('app_logout') }}">Logout</a>{% else %}<a href="{{ path('app_login') }}">Login</a>{% endif %}</li> #}
                {# {% if app.user %}<li class="list-group-item">Salut {{ app.user.username|capitalize }} !</li>{% endif %} #}
            </ul>
        {% block content %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
